@font-face {
    font-family: 'italiano';
    src: url('../assets/italiano-webfont.woff2') format('woff2'),
         url('../assets/italiano-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root { 
    font-size: calc(16px + 0.1vw); 
    --padding: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif
}
* { margin: 0px; padding: 0px; box-sizing: border-box; list-style: none; text-decoration: none;}

body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    color:whitesmoke;
}

h1, h2 {
    text-align: center;
    padding: var(--padding);
    font-family: italiano;
    letter-spacing: 0.3rem;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gifbanner {
    width: clamp(300px, 30%, 300px);
}

a:hover {
    color: chocolate;
    cursor: pointer;
}

a:visited {
    color: green;
}

button {
    padding: 5px 10px 10px 15px;
}

header nav {
    display: grid;
    place-content: center;
    grid-template: 1fr / repeat(3, 1fr);
    gap: 20px;
    padding: var(--padding);
}

nav button:nth-child(1) { background-color: green; color: white; border-radius: 30px 10px 0px 0px; }
nav button:nth-child(2) { border-radius: 30px 10px 0px 0px;}
nav button:nth-child(3) { background-color: red; border-radius: 30px 10px 0px 0px; color: white;}

.container {
    border: 1px solid rgb(255, 255, 255, 0.2);
    border-radius: 40px;
    margin: 0px 5px 50px 5px;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.container p {
    padding: var(--padding);
    max-width: 28ch;
    line-height: 1.5rem;
}

img {
    width: 100%;
    margin: 5px;
    border-radius: 10px;
}

.credit {
    color: aliceblue;
    font-size: 0.8rem;
}

.menuContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto; 
    padding: var(--padding);
    gap: 30px;
}

.menuCard {
    border: 6px inset rgb(255, 30, 0);
    outline: 1px solid rgb(233, 211, 42);
    border-radius: 60px;
    padding: var(--padding);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 15px;
    transition: ease-in-out 500ms;
}

.menuCard:hover {
    transform: scale(1.05);
}

.menuCard img { width: 60%; }
.menuCard p { width: 25ch; }

footer {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 5vh;
    padding: 3px;
    font-size: 0.6rem;
    border-top: 1px solid grey;
    gap: 10px;
    font-family: monospace;
}

svg {
    width: 20px;
    height: 20px;
    fill: white;
}




